src/homework/lab13/MessageUserResult.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="MessageUserResult" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="MessageResult">

    <xs:import namespace="MessageResult" schemaLocation="MessageResult.xsd"/>

    <xs:complexType name="MessageUserResult">
        <xs:complexContent>
            <xs:extension base="ns1:MessageResult">
                <xs:sequence>
                    <xs:element name="userNicks" type="xs:string"/>
                    <xs:element name="data" type="ns1:data"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
