src/homework/lab13/MessageConnect.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://bsu.by"
           xmlns="https://bsu.by"
           elementFormDefault="qualified">
    <xs:element name="MessageConnect">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int" />
                <xs:element name="userNick" type="xs:string" />
                <xs:element name="userFullName" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>