src/homework/lab13/MessageNotify.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="MessageNotify" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="Message">

    <xs:import namespace="Message" schemaLocation="Message.xsd"/>

    <xs:complexType name="MessageNotify">
        <xs:complexContent>
            <xs:extension base="ns1:Message">
                <xs:sequence>
                    <xs:element name="userNick" type="xs:string"/>
                    <xs:element name="data" type="ns1:data"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>

