src/homework/lab13/MessageConnect.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="MessageConnect">
        <xs:sequence>
            <xs:simpleType name="data">
                <xs:element name="id" type="xs:int"/>
            </xs:simpleType>
            <xs:element name="userNick" type="xs:string"/>
            <xs:element name="userFullName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>