src/homework/lab13/Protocol.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="Protocol" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="Protocol">
    <xs:sequence/>
    <xs:attribute name="cmdMIN" type="xs:byte" use="required"/>
    <xs:attribute name="cmdMAX" type="xs:byte" use="required"/>
  </xs:complexType>
</xs:schema>

